.brand-container {
  margin-top: 20px;
}

.brand-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.sub-brands-container {
  margin-top: 10px;
}

.sub-brands-container h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

.sub-brands-container ul {
  list-style-type: none;
  padding: 0;
}

.sub-brands-container li {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}
